body {
  padding: 50px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

.pokemon-container ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.pokemon-container li {
  background-color: lightgray;
  margin: auto;
}

.hover {
  cursor: pointer;
}
